<Ui xmlns="http://www.blizzard.com/wow/ui/" xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance"   xsi:schemaLocation="http://www.blizzard.com/wow/ui/"> 
	<Script file="menu.lua"/>
	
	<Button name="SqueakyTabTemplate" inherits="CharacterFrameTabButtonTemplate" virtual="true">
		<Scripts>
			<OnClick>
				PanelTemplates_Tab_OnClick(SqueakyMenu);
				SqueakyWheel.TabButtonHandler(this);
			</OnClick>
		</Scripts>
	</Button>

	<Slider name="SqueakySliderTemplate" inherits="OptionsSliderTemplate" hidden="false" virtual="true">
		<Size>
			<AbsDimension x="150" y="16"/>
		</Size>
		<Scripts>
			<OnShow>
				SqueakyWheel.SliderOnShow(this);
			</OnShow>
			<OnValueChanged>
				SqueakyWheel.SliderOnValueChanged(this);
			</OnValueChanged>
			<OnEnter>
				SqueakyWheel.SliderOnEnter(this);
			</OnEnter>
			<OnLeave>
				GameTooltip:Hide();
			</OnLeave>
		</Scripts>
	</Slider>
	<CheckButton name="SqueakyCheckTemplate" inherits="OptionsCheckButtonTemplate" hidden="false" virtual="true">
		<Scripts>
			<OnShow>
				SqueakyWheel.CheckOnShow(this);
			</OnShow>
			<OnClick>
				SqueakyWheel.CheckOnClick(this);
			</OnClick>
			<OnEnter>
				SqueakyWheel.CheckOnEnter(this);
			</OnEnter>
			<OnLeave>
				GameTooltip:Hide();
			</OnLeave>
		</Scripts>
	</CheckButton>	
	
	<Frame name="SqueakyMenu" frameStrata="DIALOG" parent="UIParent" hidden="true" toplevel="true" movable="true" enableMouse="true">
		<Size><AbsDimension x="480" y="480" /></Size>
		<Anchors><Anchor point="CENTER" /></Anchors>
		<Backdrop bgFile="Interface\DialogFrame\UI-DialogBox-Background" 
			edgeFile="Interface\DialogFrame\UI-DialogBox-Border" tile="true">
			<BackgroundInsets>
				<AbsInset left="11" right="12" top="12" bottom="11"/>
			</BackgroundInsets>
			<TileSize><AbsValue val="32"/></TileSize>
			<EdgeSize><AbsValue val="32"/></EdgeSize>
		</Backdrop>
		
		<Layers>
			<Layer level="ARTWORK">
				<Texture name="SqueakyFrameTitle" file="Interface\DialogFrame\UI-DialogBox-Header">
					<Size>
						<AbsDimension x="276" y="64" />
					</Size>
					<Anchors>
						<Anchor point="TOP">
							<Offset>
								<AbsDimension x="0" y="12" />
							</Offset>
						</Anchor>
					</Anchors>
				</Texture>
				<FontString name="SqueakyFrameTitleText" inherits="GameFontNormal" text="SqueakyWheel">
					<Anchors>
						<Anchor point="TOP" relativeTo="SqueakyMenu">
							<Offset>
								<AbsDimension x="0" y="-3" />
							</Offset>
						</Anchor>
					</Anchors>
				</FontString>
			</Layer>
		</Layers>
		<Frames>

		<Button name="SqueakyMenuTab1" inherits="SqueakyTabTemplate" id="1" text="General">
                <Anchors>
                    <Anchor point="TOPLEFT" relativePoint="BOTTOMLEFT">
                        <Offset>
                            <AbsDimension x="0" y="8"/>
                        </Offset>
                    </Anchor>
                </Anchors>
		</Button>
		<Button name="SqueakyMenuTab2" inherits="SqueakyTabTemplate" id="2" text="Priorities">
                <Anchors>
                   <Anchor point="LEFT" relativeTo="SqueakyMenuTab1" relativePoint="RIGHT">
                        <Offset>
                            <AbsDimension x="-16" y="0"/>
                        </Offset>
                    </Anchor>
                </Anchors>
		</Button>
		<Button name="SqueakyMenuTab3" inherits="SqueakyTabTemplate" id="3" text="Display">
                <Anchors>
                   <Anchor point="LEFT" relativeTo="SqueakyMenuTab2" relativePoint="RIGHT">
                        <Offset>
                            <AbsDimension x="-16" y="0"/>
                        </Offset>
                    </Anchor>
                </Anchors>
		</Button>

		<Frame name="SqueakyTab1" frameStrata="DIALOG" parent="SqueakyMenu" hidden="true" />
		<Frame name="SqueakyTab2" frameStrata="DIALOG" parent="SqueakyMenu" hidden="true" />
		<Frame name="SqueakyTab3" frameStrata="DIALOG" parent="SqueakyMenu" hidden="true" />



		<CheckButton name="SqueakyCheck1" inherits="SqueakyCheckTemplate" parent="SqueakyTab1" id="1"><Anchors><Anchor point="TOPRIGHT" relativeTo="SqueakyFrameTitle" relativePoint="BOTTOMLEFT"><Offset><AbsDimension x="0" y="0" /></Offset></Anchor></Anchors></CheckButton>
		<CheckButton name="SqueakyCheck2" inherits="SqueakyCheckTemplate" parent="SqueakyTab1" id="2"><Anchors><Anchor point="LEFT" relativeTo="SqueakyCheck1" relativePoint="LEFT"><Offset><AbsDimension x="0" y="-30" /></Offset></Anchor></Anchors></CheckButton>
		<CheckButton name="SqueakyCheck3" inherits="SqueakyCheckTemplate" parent="SqueakyTab1" id="3"><Anchors><Anchor point="LEFT" relativeTo="SqueakyCheck2" relativePoint="LEFT"><Offset><AbsDimension x="0" y="-30" /></Offset></Anchor></Anchors></CheckButton>
		<CheckButton name="SqueakyCheck4" inherits="SqueakyCheckTemplate" parent="SqueakyTab1" id="4"><Anchors><Anchor point="LEFT" relativeTo="SqueakyCheck3" relativePoint="LEFT"><Offset><AbsDimension x="0" y="-30" /></Offset></Anchor></Anchors></CheckButton>
		<CheckButton name="SqueakyCheck10" inherits="SqueakyCheckTemplate" parent="SqueakyTab1" id="10"><Anchors><Anchor point="LEFT" relativeTo="SqueakyCheck4" relativePoint="LEFT"><Offset><AbsDimension x="0" y="-30" /></Offset></Anchor></Anchors></CheckButton>


		<Slider name="SqueakySlider15" inherits="SqueakySliderTemplate" parent="SqueakyTab1" id="15"><Anchors><Anchor point="LEFT" relativeTo="SqueakyFrameTitle" relativePoint="BOTTOMRIGHT"><Offset><AbsDimension x="-120" y="0" /></Offset></Anchor></Anchors></Slider>
		<Slider name="SqueakySlider16" inherits="SqueakySliderTemplate" parent="SqueakyTab1" id="16"><Anchors><Anchor point="LEFT" relativeTo="SqueakySlider15" relativePoint="LEFT"><Offset><AbsDimension x="0" y="-30" /></Offset></Anchor></Anchors></Slider>
		<Slider name="SqueakySlider17" inherits="SqueakySliderTemplate" parent="SqueakyTab1" id="17"><Anchors><Anchor point="LEFT" relativeTo="SqueakySlider16" relativePoint="LEFT"><Offset><AbsDimension x="0" y="-30" /></Offset></Anchor></Anchors></Slider>
		<Slider name="SqueakySlider18" inherits="SqueakySliderTemplate" parent="SqueakyTab1" id="18"><Anchors><Anchor point="LEFT" relativeTo="SqueakySlider17" relativePoint="LEFT"><Offset><AbsDimension x="0" y="-30" /></Offset></Anchor></Anchors></Slider>



		<CheckButton name="SqueakyCheck6" inherits="SqueakyCheckTemplate" parent="SqueakyTab2" id="6"><Anchors><Anchor point="TOPRIGHT" relativeTo="SqueakyFrameTitle" relativePoint="BOTTOMLEFT"><Offset><AbsDimension x="0" y="0" /></Offset></Anchor></Anchors></CheckButton>
		<Slider name="SqueakySlider22" inherits="SqueakySliderTemplate" parent="SqueakyTab2" id="22"><Anchors><Anchor point="LEFT" relativeTo="SqueakyCheck6" relativePoint="LEFT"><Offset><AbsDimension x="0" y="-30" /></Offset></Anchor></Anchors></Slider>
		<Slider name="SqueakySlider23" inherits="SqueakySliderTemplate" parent="SqueakyTab2" id="23"><Anchors><Anchor point="LEFT" relativeTo="SqueakySlider22" relativePoint="LEFT"><Offset><AbsDimension x="0" y="-30" /></Offset></Anchor></Anchors></Slider>
		<Slider name="SqueakySlider24" inherits="SqueakySliderTemplate" parent="SqueakyTab2" id="24"><Anchors><Anchor point="LEFT" relativeTo="SqueakySlider23" relativePoint="LEFT"><Offset><AbsDimension x="0" y="-30" /></Offset></Anchor></Anchors></Slider>
		<Slider name="SqueakySlider26" inherits="SqueakySliderTemplate" parent="SqueakyTab2" id="26"><Anchors><Anchor point="LEFT" relativeTo="SqueakySlider24" relativePoint="LEFT"><Offset><AbsDimension x="0" y="-30" /></Offset></Anchor></Anchors></Slider>
		<Slider name="SqueakySlider25" inherits="SqueakySliderTemplate" parent="SqueakyTab2" id="25"><Anchors><Anchor point="LEFT" relativeTo="SqueakySlider26" relativePoint="LEFT"><Offset><AbsDimension x="0" y="-30" /></Offset></Anchor></Anchors></Slider>
		<CheckButton name="SqueakyCheck11" inherits="SqueakyCheckTemplate" parent="SqueakyTab2" id="11"><Anchors><Anchor point="LEFT" relativeTo="SqueakySlider25" relativePoint="LEFT"><Offset><AbsDimension x="0" y="-30" /></Offset></Anchor></Anchors></CheckButton>
		<CheckButton name="SqueakyCheck12" inherits="SqueakyCheckTemplate" parent="SqueakyTab2" id="12"><Anchors><Anchor point="LEFT" relativeTo="SqueakyCheck11" relativePoint="RIGHT"><Offset><AbsDimension x="60" y="0" /></Offset></Anchor></Anchors></CheckButton>
		<CheckButton name="SqueakyCheck13" inherits="SqueakyCheckTemplate" parent="SqueakyTab2" id="13"><Anchors><Anchor point="LEFT" relativeTo="SqueakyCheck11" relativePoint="LEFT"><Offset><AbsDimension x="0" y="-30" /></Offset></Anchor></Anchors></CheckButton>
		<CheckButton name="SqueakyCheck14" inherits="SqueakyCheckTemplate" parent="SqueakyTab2" id="14"><Anchors><Anchor point="LEFT" relativeTo="SqueakyCheck13" relativePoint="RIGHT"><Offset><AbsDimension x="60" y="0" /></Offset></Anchor></Anchors></CheckButton>
		<CheckButton name="SqueakyCheck15" inherits="SqueakyCheckTemplate" parent="SqueakyTab2" id="15"><Anchors><Anchor point="LEFT" relativeTo="SqueakyCheck13" relativePoint="LEFT"><Offset><AbsDimension x="0" y="-30" /></Offset></Anchor></Anchors></CheckButton>
		<CheckButton name="SqueakyCheck16" inherits="SqueakyCheckTemplate" parent="SqueakyTab2" id="16"><Anchors><Anchor point="LEFT" relativeTo="SqueakyCheck15" relativePoint="RIGHT"><Offset><AbsDimension x="60" y="0" /></Offset></Anchor></Anchors></CheckButton>
		<CheckButton name="SqueakyCheck17" inherits="SqueakyCheckTemplate" parent="SqueakyTab2" id="17"><Anchors><Anchor point="LEFT" relativeTo="SqueakyCheck15" relativePoint="LEFT"><Offset><AbsDimension x="0" y="-30" /></Offset></Anchor></Anchors></CheckButton>
		<CheckButton name="SqueakyCheck18" inherits="SqueakyCheckTemplate" parent="SqueakyTab2" id="18"><Anchors><Anchor point="LEFT" relativeTo="SqueakyCheck17" relativePoint="RIGHT"><Offset><AbsDimension x="60" y="0" /></Offset></Anchor></Anchors></CheckButton>


		<Slider name="SqueakySlider1" inherits="SqueakySliderTemplate" parent="SqueakyTab2" id="1"><Anchors><Anchor point="LEFT" relativeTo="SqueakyFrameTitle" relativePoint="BOTTOMRIGHT"><Offset><AbsDimension x="-120" y="0" /></Offset></Anchor></Anchors></Slider>
		<Slider name="SqueakySlider2" inherits="SqueakySliderTemplate" parent="SqueakyTab2" id="2"><Anchors><Anchor point="LEFT" relativeTo="SqueakySlider1" relativePoint="LEFT"><Offset><AbsDimension x="0" y="-30" /></Offset></Anchor></Anchors></Slider>
		<Slider name="SqueakySlider3" inherits="SqueakySliderTemplate" parent="SqueakyTab2" id="3"><Anchors><Anchor point="LEFT" relativeTo="SqueakySlider2" relativePoint="LEFT"><Offset><AbsDimension x="0" y="-30" /></Offset></Anchor></Anchors></Slider>
		<Slider name="SqueakySlider4" inherits="SqueakySliderTemplate" parent="SqueakyTab2" id="4"><Anchors><Anchor point="LEFT" relativeTo="SqueakySlider3" relativePoint="LEFT"><Offset><AbsDimension x="0" y="-30" /></Offset></Anchor></Anchors></Slider>
		<Slider name="SqueakySlider5" inherits="SqueakySliderTemplate" parent="SqueakyTab2" id="5"><Anchors><Anchor point="LEFT" relativeTo="SqueakySlider4" relativePoint="LEFT"><Offset><AbsDimension x="0" y="-30" /></Offset></Anchor></Anchors></Slider>
		<Slider name="SqueakySlider6" inherits="SqueakySliderTemplate" parent="SqueakyTab2" id="6"><Anchors><Anchor point="LEFT" relativeTo="SqueakySlider5" relativePoint="LEFT"><Offset><AbsDimension x="0" y="-30" /></Offset></Anchor></Anchors></Slider>
		<Slider name="SqueakySlider7" inherits="SqueakySliderTemplate" parent="SqueakyTab2" id="7"><Anchors><Anchor point="LEFT" relativeTo="SqueakySlider6" relativePoint="LEFT"><Offset><AbsDimension x="0" y="-30" /></Offset></Anchor></Anchors></Slider>
		<Slider name="SqueakySlider8" inherits="SqueakySliderTemplate" parent="SqueakyTab2" id="8"><Anchors><Anchor point="LEFT" relativeTo="SqueakySlider7" relativePoint="LEFT"><Offset><AbsDimension x="0" y="-30" /></Offset></Anchor></Anchors></Slider>
		<Slider name="SqueakySlider9" inherits="SqueakySliderTemplate" parent="SqueakyTab2" id="9"><Anchors><Anchor point="LEFT" relativeTo="SqueakySlider8" relativePoint="LEFT"><Offset><AbsDimension x="0" y="-30" /></Offset></Anchor></Anchors></Slider>
		<Slider name="SqueakySlider10" inherits="SqueakySliderTemplate" parent="SqueakyTab2" id="10"><Anchors><Anchor point="LEFT" relativeTo="SqueakySlider9" relativePoint="LEFT"><Offset><AbsDimension x="0" y="-30" /></Offset></Anchor></Anchors></Slider>
		<Slider name="SqueakySlider11" inherits="SqueakySliderTemplate" parent="SqueakyTab2" id="11"><Anchors><Anchor point="LEFT" relativeTo="SqueakySlider10" relativePoint="LEFT"><Offset><AbsDimension x="0" y="-30" /></Offset></Anchor></Anchors></Slider>
		<Slider name="SqueakySlider12" inherits="SqueakySliderTemplate" parent="SqueakyTab2" id="12"><Anchors><Anchor point="LEFT" relativeTo="SqueakySlider11" relativePoint="LEFT"><Offset><AbsDimension x="0" y="-30" /></Offset></Anchor></Anchors></Slider>
		<Slider name="SqueakySlider13" inherits="SqueakySliderTemplate" parent="SqueakyTab2" id="13"><Anchors><Anchor point="LEFT" relativeTo="SqueakySlider12" relativePoint="LEFT"><Offset><AbsDimension x="0" y="-30" /></Offset></Anchor></Anchors></Slider>



		<CheckButton name="SqueakyCheck5" inherits="SqueakyCheckTemplate" parent="SqueakyTab3" id="5"><Anchors><Anchor point="TOPRIGHT" relativeTo="SqueakyFrameTitle" relativePoint="BOTTOMLEFT"><Offset><AbsDimension x="0" y="0" /></Offset></Anchor></Anchors></CheckButton>
		<CheckButton name="SqueakyCheck7" inherits="SqueakyCheckTemplate" parent="SqueakyTab3" id="7"><Anchors><Anchor point="LEFT" relativeTo="SqueakyCheck5" relativePoint="LEFT"><Offset><AbsDimension x="0" y="-30" /></Offset></Anchor></Anchors></CheckButton>
		<CheckButton name="SqueakyCheck8" inherits="SqueakyCheckTemplate" parent="SqueakyTab3" id="8"><Anchors><Anchor point="LEFT" relativeTo="SqueakyCheck7" relativePoint="LEFT"><Offset><AbsDimension x="0" y="-30" /></Offset></Anchor></Anchors></CheckButton>
		<CheckButton name="SqueakyCheck9" inherits="SqueakyCheckTemplate" parent="SqueakyTab3" id="9"><Anchors><Anchor point="LEFT" relativeTo="SqueakyCheck8" relativePoint="LEFT"><Offset><AbsDimension x="0" y="-30" /></Offset></Anchor></Anchors></CheckButton>


		<Slider name="SqueakySlider14" inherits="SqueakySliderTemplate" parent="SqueakyTab3" id="14"><Anchors><Anchor point="LEFT" relativeTo="SqueakyFrameTitle" relativePoint="BOTTOMRIGHT"><Offset><AbsDimension x="-120" y="0" /></Offset></Anchor></Anchors></Slider>
		<Slider name="SqueakySlider19" inherits="SqueakySliderTemplate" parent="SqueakyTab3" id="19"><Anchors><Anchor point="LEFT" relativeTo="SqueakySlider14" relativePoint="LEFT"><Offset><AbsDimension x="0" y="-30" /></Offset></Anchor></Anchors></Slider>
		<Slider name="SqueakySlider20" inherits="SqueakySliderTemplate" parent="SqueakyTab3" id="20"><Anchors><Anchor point="LEFT" relativeTo="SqueakySlider19" relativePoint="LEFT"><Offset><AbsDimension x="0" y="-30" /></Offset></Anchor></Anchors></Slider>
		<Slider name="SqueakySlider21" inherits="SqueakySliderTemplate" parent="SqueakyTab3" id="21"><Anchors><Anchor point="LEFT" relativeTo="SqueakySlider20" relativePoint="LEFT"><Offset><AbsDimension x="0" y="-30" /></Offset></Anchor></Anchors></Slider>

		<Button name="SqueakyClose" inherits="GameMenuButtonTemplate" text="Close">
			<Anchors>
				<Anchor point="CENTER" relativePoint="BOTTOM" relativeTo="SqueakyMenu">
					<Offset>
						<AbsDimension x="0" y="30" />
					</Offset>
				</Anchor>
			</Anchors>
			<Scripts>
				<OnClick>
					SqueakyMenu:Hide()
				</OnClick>
			</Scripts>
		</Button>
		</Frames>
	<Scripts>
		<OnLoad>
			SqueakyWheel.FrameOnLoad()
		</OnLoad>
		<OnShow>
			SqueakyWheel.FrameOnShow()
		</OnShow>
	</Scripts>
	</Frame>
</Ui>
