<Ui xmlns="http://www.blizzard.com/wow/ui/"
    xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance"
    xsi:schemaLocation="http://www.blizzard.com/wow/ui/
	..\UI.xsd">
        
    <Script file="Events.lua"/>
	
	<Frame name="OneRaid_Events_Frame" hidden="false">
		<Scripts>
			<OnLoad>OneRaid.Events:OnLoad();</OnLoad>
			<OnEvent>OneRaid.Events:OnEvent();</OnEvent>
			<OnUpdate>OneRaid.Events:OnUpdate(arg1)</OnUpdate>
		</Scripts>	
	</Frame>
	
	
</Ui>