body { 
  font-family: Verdana, Arial, Helvetica;
  font-size: small; }
p { 
  max-width: 60em;
  font-family: Verdana, Arial, Helvetica;
  font-size: small; }
li { 
  font-family: Verdana, Arial, Helvetica;
  font-size: small; }
h1 { 
  font-family: Verdana, Arial, Helvetica;
  font-size: x-large; }
h2 { 
  font-family: Verdana, Arial, Helvetica;
  font-size: large; }
h3 { 
  font-family: Verdana, Arial, Helvetica;
  font-size: medium; }
div.faq-Q { 
  font-family: Verdana, Arial, Helvetica;
  font-size: small;
  font-weight: bold;
  text-indent: -2.9ex;
  margin-left: 2.9ex; 
  margin-top: 2em;
  margin-bottom: 1em; }
span.faq-A { 
  font-family: Verdana, Arial, Helvetica;
  font-size: small;
  font-weight: bold; }
div.faq-A { 
  text-indent: -2.9ex;
  margin-left: 2.9ex;
  margin-bottom: 0.5em; }
div.faq-A-sec { 
  margin-left: 2.9ex;
  margin-bottom: 0.5em; }
ul.faq-A { 
  margin-top: 1ex; }
td { 
  margin-top: 0ex;
  margin-bottom: 0ex;
  padding-top: 0.9ex;
  padding-right: 2.5ex;
  padding-bottom: 0ex;
  vertical-align: top; }
tr { 
  margin-top: 0ex;
  margin-bottom: 0ex;
  padding-top: 0ex;
  padding-bottom: 0ex;
  vertical-align: top; }
 